<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Titre de la page</title>
    <!--<link rel="stylesheet" href="style.css" />-->
  </head>
  <body>

    <!-- header: En tête -->
    <header>
      <h1>Titre du site</h1>
    </header>

    <!-- nav : Liens principaux de navigation -->
    <nav>
      <ul>
        <li><a href="#lien-1">Lien 1</a></li>
        <li><a href="#lien-2">Lien 2</a></li>
      </ul>
    </nav>

    <!-- section : Section de page -->
    <section>
      <!-- aside : Informations complémentaires -->
      <aside>
        <h1>Titre</h1>
        <p>
          Volucriter quocumque simulacra iam poterat quocumque
          oculos spectare pedibus pavimenta.
        </p>
      </aside>

      <!-- article : Article indépendant/autonome -->
      <article>
        <h1>Titre de l'article</h1>
        <p>
          Cognitis enim pilatorum caesorumque funeribus nemo
          deinde ad has stationes appulit navem, sed ut Scironis
          praerupta letalia declinantes litoribus Cypriis
          contigui navigabant, quae Isauriae scopulis sunt controversa.
        </p>
      </article>
    </section>

    <!-- footer : Pied de page -->
    <footer>
      <p>Copyright</p>
    </footer>

  </body>
</html>
